[submodule "Kattebel-Android"]
	path = Kattebel-Android
	url = git@github.com:rpellerin/Kattebel-android.git
[submodule "Kattebel-iOS"]
	path = Kattebel-iOS
	url = https://github.com/bduyng/kettebel-ios
[submodule "Kattebel-Web"]
	path = Kattebel-Web
	url = https://github.com/PierreGUI/Kattebel-webapp
[submodule "Kattebel-Backend"]
	path = Kattebel-Backend
	url = https://github.com/KtorZ/kattebel
